.Cart {
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
    /* margin-top: 10vh; */
}

.H1 {
    font-family: var(--font3);
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 10px;
}

.P {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    width: 100%;
    margin-left: 0%;
    margin-top: 1rem;
    font-size: 1em;
    font-family: var(--font3);
}

.price_cart_Left {
    width: auto;
}

.price {
    font-weight: bold;
}

.main {
    margin-top: 2rem;
    display: flex;
    width: 95%;
    margin-left: 0%;
    justify-content: center;
    gap: 15px;
    padding: 0px 2.5%;
    /* justify-content: center; */
}

.price_cart_Right {
    width: auto;
    font-family: var(--font3);
    text-align: start;
    /* padding-left: 3rem; */
}

.one {
    margin-top: 0px;

}

.two {
    margin-top: 1rem;
}

.three {
    margin-top: 1rem;
    font-size: 1em;
    color: green;
    padding-left: 0rem;
}

.plus_minus {
    height: 2rem;
    /* width: 5rem; */
    padding-top: 8px;
    letter-spacing: 9px;
    /* border: 1px solid black; */
    /* text-align: ; */


}

.removeContainer {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.remove {
    font-weight: 500;
    color: red;
    font-size: 1em;
    margin-left: 3rem;
}

.Shop_now {
    font-family: var(--font3);
    font-weight: 300;
    letter-spacing: 1px;
    background: #3f1414;
    font-size: 1em;
    color: white;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.Save_now {
    font-family: var(--font3);
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    background: gainsboro;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.drawerHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    font-family: var(--font1);
    margin-top: 10px;
}

.op {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.shopping {
    color: #9c3b3b;
    font-family: var(--font3);
    font-size: 1em;
}

.checkout {
    /* font-family: var(--font3); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font3);
    background: #2c2c45;
    color: white;
    height: 6vh;
    width: 160px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.Continuesection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.QuantityPlusone {
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */
}

.QuantityPlusone p {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
}
.icons{
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 10px;
    /* left: px; */
    right: 10px;
    /* left: 0px; */
   
}