.Cart {
    width: 100vw;
    text-align: center;
    /* margin-top: 10vh; */
}

.H1 {
    font-family: var(--font3);
    font-weight: 300;
    letter-spacing: 3px;
}

.P {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
    font-size: 1.4em;
    font-family: var(--font3);
}

.price_cart_Left {
    width: 20vw;
}

.price {
    font-weight: bold;
}

.main {
    margin-top: 1rem;
    display: flex;
    width: 90%;
    margin-left: 5%;
}

.price_cart_Right {
    width: auto;
    font-family: var(--font3);
    text-align: start;
    padding-left: 3rem;
}

.one {
    margin-top: 1rem;
}

.two {
    margin-top: 3rem;
}

.three {
    margin-top: 3rem;
    font-size: 1.2em;
    color: green;
    padding-left: 1rem;
}

.plus_minus {
    height: 2rem;
    /* width: 5rem; */
    padding-top: 8px;
    letter-spacing: 9px;
    border: 1px solid black;
    /* text-align: ; */
   

}

.remove {
    font-weight: 500;
    color: red;
    font-size: 1.3em;
    margin-left: 3rem;
}

.Shop_now {
    font-family: var(--font3);
    font-weight: 300;
    letter-spacing: 3px;
    background: #3f1414;
    ;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.Save_now {
    font-family: var(--font3);
    font-weight: 300;
    letter-spacing: 3px;
    background: gainsboro;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.op {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.shopping {
    color: #9c3b3b;
    font-family: var(--font3);
}

.checkout {
    /* font-family: var(--font3); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font3);
    background: #2c2c45;
    color: white;
    height: 4rem;
    width: 16rem;
    text-align: center;
    margin-right: 10px;
}

.Continuesection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


@media only screen and (max-width: 768px) {
    .Shop_now {
        font-family: var(--font3);
        font-weight: 300;
        letter-spacing: 3px;
        background: #3f1414;
        font-size: 20px;
        color: white;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 40vw;
        margin-left: 25%;
        border-radius: 5px;
    }

    .Save_now {
        font-size: 20px;
        height: 5vh;
    }

    .shopping {
        font-size: 20px;
    }

    .checkout {
        font-family: var(--font3);
        font-weight: 300;
        letter-spacing: 3px;
        background: #3f1414;
        font-size: 20px;
        color: white;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 2rem; */
        width: 40vw;
        margin-left: 25%;
        border-radius: 5px;
    }

}